
<div class="posts-index-wrapper">
  <div class="container">
    <% @posts.each do |post| %>
      <%= post.content %>
      <% post.images.each do |image| %>
        <% image.post_image.each do |i|%>
          <%= image_tag i.url(:thumb150) %>
        <%end%>
      <% end %>
    <% end %>
  </div>
</div>