@import "bootstrap-sprockets";
@import "bootstrap";

@import "users";
@import "posts";
@import "clips";
@import "home";
@import "messages";
@import "sessions";

.navbar{
  margin-bottom: 0px;
}

.alert {
  width: 100%;
  z-index: 1030;
  text-align: center;
  border-radius: 0px;
}

.wrapper{
  margin-top: 10px;
}


.message {
    color:#262626; 
    background:#FFEBE8;
    text-align: center;
    border:2px solid #990000;
    padding:12px; font-weight:850;
    z-index: 10000;
  }