@import "bootstrap-sprockets";
@import "bootstrap";
@import "users";
@import "sessions";
@import "posts";

@import "clips";
@import "home";
@import "messages";

body {
  white-space: nowrap;
  
  .navbar {
    margin-bottom: 0px;
  }
  
  .navbar {
    margin-bottom: 0px;
  }
  
  .alert {
    width: 100%;
    z-index: 1030;
    text-align: center;
    border-radius: 0px;
    
    .fa-times {
      margin-right: 16px;
    }
  }
  
  .wrapper {
    margin-top: 50px;
    
    .error-message {
      color: red;
    }
  }
}
