@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";
@import "users";
@import "sessions";
@import "posts";
@import "clips";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  background-color: ivory;
      
  .navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: ivory;
    border-bottom: whitesmoke solid 1px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
    
    .navbar-brand {
      padding: 0px;
      
      img {
        width: auto;
        height: 50px;
      }
    }
    
    .navbar-toggle {
      border-color: #61463e;
      
      .icon-bar{
        background-color: #61463e;
      }
    }
    
    .navbar-collapse {
      border-color: #61463e;
      
      a {
        color :#61463e;
        font-weight: 900;
        
        &:hover {
          background-color: tan;
        }
      }
    }
  }
      
  .alert {
    width: 100%;
    z-index: 1030;
    text-align: center;
    border-radius: 0px;
        
    .fa-times {
      margin-right: 16px;
    }
  }
      
  .wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 0px 30px 0px;
    background-color: white;
    border: whitesmoke solid 1px;
    border-radius: 4px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
        
    .error-message {
      color: red;
    }
  }
      
  .fa-caret-square-up {
    display: inline-block;
    position: fixed;
    text-decoration: none;
    font-size: 50px;
    right:-50px;
    bottom:30px;
    color: #61463e;
    opacity: 0.5;
  }
    
  .fa-caret-square-up:hover {
    opacity: 1.0;
  }
}