.clips-index-wrqpper {
  
  .page-header {
    border-bottom: lightgray solid 1px;
      
    h2 {
      color: #61463e;
    }
  }
  
  .panel {
    border-color: lightgray;
    
    &:hover {
      text-decoration: none;
      border-color: #61463e;
      opacity: 0.7;
    }
    
    .panel-body {
      -ms-overflow-style: none;
      scrollbar-width: none;
          
      .panel-text {
        color: black;
        white-space: nowrap;
      }
      
      .panel-body::-webkit-scrollbar {
        display:none;
      }
    }
  }
  
  .paginate {
    text-align: center;
    color: #61463e;
    
    .active {
      
      a {
        background-color: #61463e;
        border-color: #61463e;
        color: white;
        
        &:hover {
          background-color: #61463e;
          border-color: #61463e;
          color: white;
        }
      }
    }
    
    a {
      color: #61463e;
      border-color: lightgray;
      
      &:hover {
        color: #61463e;
        background-color: tan;
        border-color: tan;
      }
    }
  }
}