.posts-new-wrapper {
  
  .panel-body {
    padding-top: 50px;
    
    .form-group {
      margin-bottom: 30px;
      
      .control-label {
        padding-top: 0px;
      }
      
      .glyphicon-asterisk:before {
        color: red;
        font-size: 16px;
        margin-right: 3px;
      }
      
      .radio_button-label {
        vertical-align: middle;
        padding-right: 5px;
      }
      
      .image-preview{
        width: 50%;
        height: 50%;
      }
      
      .video-preview{
        width: 50%;
        height: 50%;
      }
      
      textarea {
        resize: vertical;
      }
    }
  }
}

.posts-index-wrapper {
  
  .search-form{
    
    .panel-body {
      padding-top: 30px;
      white-space: nowrap;
    
      .form-group {
        margin-bottom: 10px;
      
        .control-label {
          padding-top: 0px;
        }
        
        .radio_button-label {
          vertical-align: middle;
          padding-right: 5px;
        }
      }
    }
  }
  
  .post-index {
    
    .panel:hover {
      text-decoration: none;
      opacity: 0.7;
    }
      
    .panel-body {
      -ms-overflow-style: none;
      scrollbar-width: none;
        
      .panel-text {
        color: black;
        white-space: nowrap;
      }
    }
      
    .panel-body::-webkit-scrollbar {
      display:none;
    }
  }
  
  .paginate {
    text-align: center;
  }
}

.posts-show-wrapper {
  
  .carousel {
    padding-top: 20px;
    padding-bottom: 20px;
    
    .carousel-inner {
      width: 300px;
      height: 300px;
      
      .item {
        width: 300px;
      }
    }
  
    .carousel-indicators {
      position: static;
      margin-top: 30px;
      
      li {
        border-radius: 0px;
        background-color: black;
        width: 20px;
        height: 5px;
        
      }
    }
    
    .carousel-control {
      color: black;
    }
  
    .left, .right {
      background-image: none;
    }
  }
  
  table {
    table-layout: fixed;
    vertical-align: middle;
    
    th {
      border: none;
      width: 20%;
      text-align: center;
    }
      
    td {
      border: none;
      width: 80%;
      word-wrap: break-word;
      
      .video {
        width: 60%;
      }
      
      .address {
        margin-bottom: 5px;
      }
    }
  }
  
  .post-info-links {
    text-align: center;
      
    .btn {
      width: 30%;
    }
  }
  
  .message {
    
    textarea {
      resize: vertical;
    }
    
    .btn {
    
    }
    
    .message-show {
      border: 1px solid black;
      word-wrap: break-word;
    }
  }
}

.posts-edit-wrapper {
  
  .panel-body {
    padding-top: 50px;
    
    .form-group {
      margin-bottom: 30px;
      
      .control-label {
        padding-top: 0px;
      }
      
      .glyphicon-asterisk:before {
        color: red;
        font-size: 16px;
        margin-right: 3px;
      }
      
      .radio_button-label {
        vertical-align: middle;
        padding-right: 5px;
      }
      
      .image-preview {
        width: 50%;
        height: 50%;
      }
      
      .video-preview {
        width: 50%;
        height: 50%;
      }
      
      textarea {
        resize: vertical;
      }
    }
  }
}