.posts-new-wrapper {
  
  .panel-body {
    padding-top: 30px;
    
    .form-group {
      margin-bottom: 30px;
    }
  }
  
}







.video-preview{
  width: 50%;
  height: 50%;
}

.image-preview{
  width: 50%;
  height: 50%;
}