.sessions-new-wrapper {
  
  .panel {
    border: #61463e solid 1px;
    
    .panel-heading {
      background-color: tan;
      border-bottom: #61463e solid 1px;
      
      .panel-title {
        font-size: 25px;
        color: #61463e;
      }
    }
    
    .panel-body {
      padding-top: 20px;
      
      .form-group {
        margin-top: 30px;
        
        .btn {
          color: white;
          background-color: #61463e;
          box-shadow: 2px 2px 4px black;
          
          &:hover {
            color: #61463e;
            background-color: white;
            border: #61463e solid 1px;
          }
          
          &:active {
            box-shadow: none;
            position: relative;
            top: 4px;
          }
          
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}